html,
body {
  background-color: #727272;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: dimgray;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid dimgray;
}

a {
  color: black;
}

a:hover {
  color: darkgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
pre {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}
