html,
body {
  background-color: #c7c7c7;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
}

@font-face {
  font-family: 'Splash';
  src: url(Splash.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #c7c7c7;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 20px;
  border: 3px solid #c7c7c7;
}

a {
  color: black;
}

a:hover {
  color: #747474;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
pre {
  margin: 0;
  box-sizing: border-box;
  display: block;
  line-height: 1.4;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid #747474;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: #747474;
  border-color: #747474;
}

input[type='checkbox']:checked::after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='checkbox']:hover {
  border-color: #5a5a5a;
}

button {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
}

html.prism-ada {
  body {
    background-color: white;
    font-size: 18px;
  }

  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
  }
}
